<!doctype html>
<html ng-app="gymCalc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gym weights calculator</title>

    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header class="container-fluid page-header m-b-md">
    <div class="container text-center">
        <h1>Gym Weights Calculator</h1>
    </div>
</header>

<div class="container">
    <div class="row" ng-controller="CalcCtrl">
        <div class="col-md-7 col-md-push-5 page-outputs m-b-md">
            <div ng-show="achievable">
                To get {{totalWeight}} kg <span ng-show="barWeight">on your {{barWeight}} kg bar</span> you need these plates on each side:
                <ul>
                    <li ng-repeat="plate in output | orderBy: -weight">{{plate.amount}}x {{plate.weight}} kg</li>
                </ul>
            </div>

            <div ng-hide="achievable || unachievable || lowerThanSmallest">
                <p>
                    Enter weight and your available plates into the panel.
                </p>
            </div>

            <div ng-show="unachievable">
                <p>With your setup {{totalWeight}} kg is unachievable. Choose another one.</p>
                The closest you can get is {{closestPossible}} kg:
                <ul>
                    <li ng-repeat="plate in output | orderBy: -weight">{{plate.amount}}x {{plate.weight}} kg</li>
                </ul>
            </div>

            <div ng-show="lowerThanSmallest">
                <p>Your lightest plate is heavier than your desired weight. Choose another one.</p>
            </div>
        </div>

        <div class="col-md-4 col-md-pull-7 page-inputs">

            <div class="page-weight-input row text-center m-b">
                <div class="col-md-6 col-md-offset-3 m-b">
                    <label for="weightInput">
                        <h3>Total weight</h3>
                    </label>

                    <div class="input-group">
                        <input type="number" name="weight" id="weightInput" min="0" class="form-control" aria-describedby="unit-descr" ng-model="totalWeight" ng-change="calculate()">
                        <span class="input-group-addon" id="unit-descr">kg</span>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-3">
                    <label for="barWeightInput">
                        <h3>Bar weight</h3>
                    </label>

                    <div class="input-group">
                        <input type="number" name="weight" id="barWeightInput" min="0" class="form-control" aria-describedby="bar-unit-descr" ng-model="barWeight" ng-change="calculate()">
                        <span class="input-group-addon" id="bar-unit-descr">kg</span>
                    </div>
                </div>
            </div>


            <div class="page-plates">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Plate weight</th>
                            <th>Amount</th>
                        </tr>
                    </thead>

                    <tbody class="text-center">
                        <tr ng-repeat="plate in plates">
                            <td>
                                <input type="number" min="0" class="form-control weight-input" ng-model="plate.weight" ng-change="calculate()">
                                <span class="weight-input-label">kg</span>
                            </td>

                            <td>
                                <input type="number" min="0" class="form-control weight-input" ng-model="plate.amount" ng-change="calculate()">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="control-buttons m-x-auto row">
                    <div class="col-xs-6">
                        <img src="assets/images/plus-sign.svg" alt="Add new" class="img-responsive" ng-click="addNewPlate()">
                    </div>
                    <div class="col-xs-6">
                        <img src="assets/images/minus-sign.svg" alt="Add new" class="img-responsive" ng-click="removeLastPlate()">
                    </div>

                    <div class="col-xs-12 m-t text-center">
                        <button class="btn btn-primary" ng-click="saveSettings()">Save</button>
                        <button class="btn btn-primary" ng-click="loadSettings()">Load</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer class="navbar navbar-fixed-bottom text-center m-t">
    Created by <a href="http://voreny.bitbucket.org/" class="btn btn-secondary">Grzegorz Rozdzialik</a> Copyright @ 2015
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="assets/js/plate.js"></script>
<script src="main.js"></script>
</body>
</html>