@import "assets/scss/header";
@import "assets/scss/weight";
@import "assets/scss/inputs";
@import "assets/scss/outputs";
@import "assets/scss/footer";

body {
  color: #B9D2D2;
  padding-bottom: 90px;
}

.inline {
  display: inline;
}