.page-outputs {
  background-color: #62A388;
  padding: 10px;
  box-shadow: 0 0 10px 2px #62A388;

  color: #F6F5DA;
}

.plate-output-amount, .plate-output-weight {
  color: #FFCC00;
  font-weight: bold;
}